div(game-modal-controller='')
  form(name='gameform', ng-submit='vm.update()', novalidate='')
    .modal-header 게임 생성
      .pull-right
        a(href='', ng-click='vm.close()')
          i.fa.fa-close
    .modal-body 
      .row

        .col-xs-4
          .list-group
            a.list-group-item(ng-repeat='game in vm.games',
              ng-click='vm.selectGame(game)',
              ng-class='{ active: vm.game === game }')
              | {{ game.name }}
              img(ng-src='{{ game.image }}')
        .col-xs-8
          span 게임명 입력
          form(name='gameform', ng-submit='vm.createGame()')
            input.form-control(ng-model='vm.name')
          hr

          form(ng-if='vm.schema', sf-schema='vm.schema', sf-form='vm.form', sf-model="vm.options")
          span {{ vm.game.options.desc }}
            //- pre {{ vm.schema | json }}
            //- pre {{ vm.form | json }}
          
          //- pre {{ vm.games | json }}

      //- a(href='/#/nameplate', target='_blank') 이름표 출력
    .modal-footer      
      button.btn.btn-primary(type='submit', ng-click='vm.createGame()') 게임 생성
      //- button.btn.btn-default(type='submit') 수정
    //- pre {{ vm.snapshot }}
    //- pre {{ vm.current }}
    //- pre {{ vm.game | json }}


  //-   h3 {{ vm.listType }} 정렬조건
  //-   ul.list-group
  //-     li.list-group-item(ng-repeat='sortType in vm.sortTypes',
  //-       ng-click='vm.selectSortType(sortType)',
  //-       ng-class='{ active: sortType.id === vm.sortType }')
  //-       | {{ sortType.label }}

  //-   h3 {{ vm.listType }} 필터조건
  //-   ul.list-group
  //-     li.list-group-item(ng-repeat='filterType in vm.filterTypes',
  //-       ng-click='vm.selectFilterType(filterType)',
  //-       ng-class='{ active: filterType.id === vm.filterType }')
  //-       | {{ filterType.label }}

  //- style {{ vm.styles }}