div(cube-directive='')
  .cube-container
    .cube
      figure.left
      figure.left-shade
      figure.left-shade-2
      figure.right 
      figure.right-shade
      figure.right-shade-2
      figure.bottom
      figure.bottom-shade
      figure.bottom-shade-2
    img(src='/assets/rangers/u111e-cherina-thum-140.png')
