div(papercraft-directive='')
  img.ranger-img(ng-src='/assets/rangers/{{ vm.user.character }}', height='140')
  .guides
    img.gi-1(src='/assets/imgs/cross.png')
    img.gi-2(src='/assets/imgs/cross.png')
    img.gi-3(src='/assets/imgs/cross.png')
    img.gi-4(src='/assets/imgs/cross.png')
  //- .floor
    img(ng-src='/assets/imgs/cube-tile-full.jpg')
  //- .wall-left
    img(ng-src='/assets/imgs/cube-wall-left.jpg')
  

  .paper-wrap
    .paper.wall-left
      img(ng-src='/assets/imgs/cube-wall-left-light.png')
      .paper.outer-left
        svg(width='200', height='200', viewBox='0 0 200 200')
          g(transform='translate(0.5,0.5)')
            path(d='M0,0 L200,0 L200,200 L0,200 L0,0', fill='#D0D0D0')
            path(d='M0,0 L50,150 L50,0 L0,0', fill='#333333')
            path(d='M0,0 L50,150 L0,200 L0,0', fill='#5d5d5d')
            path(d='M0,200 L50,150 L200,150 L200,200 L0,200', fill='#333333')
            path(d='M0,0 L200,0 L200,200 L0,200 L0,0', stroke='#aaa', fill='none')


      .paper.wall-right
        img(ng-src='/assets/imgs/cube-wall-right-light.png')
        .paper.outer-right

          svg(width='200', height='200', viewBox='0 0 200 200')
            g(transform='translate(0.5,0.5)')
              path(d='M0,0 L200,0 L200,200 L0,200 L0,0', fill='#626262')
              path(d='M0,150 L150,150 L200,200 L0,200 L0,150', fill='#333333')
              path(d='M200,0 L150,150 L200,200 L200,0', fill='#5C5C5C')
              path(d='M200,0 L150,150 L150,75 C150,50 112,25 75,25 C32,25 0,50 0,75 L0,0 L200,0', fill='#333333')
              path(d='M0,0 L200,0 L200,200 L0,200 L0,0', stroke='#aaa', fill='none')


      .paper.floor
        img(ng-src='/assets/imgs/cube-tile-full-light.png')
        .paper.outer-top

          svg(width='200', height='200', viewBox='0 0 200 200')
            g(transform='translate(0.5,0.5)')
              path(d='M0,0 L200,0 L200,200 L0,200 L0,0', fill='#fff')
              path(d='M0,0 L50,200 L50,50 L125,50 C135,50 150,65, 150,75 L150,0 L0,0', fill='#333333')
              path(d='M0,0 L50,200 L0,200 L0,0', fill='#ebebeb')
              path(d='M0,0 L200,0 L200,200 L0,200 L0,0', stroke='#aaa', fill='none')


        .join
          svg(width='35', height='220', viewBox='0 0 35 220')
            g(transform='translate(.5,.5)')
              path(d='M0,0 L25,25 L25,175 L0,200 L0,0', stroke='#aaa', fill='none')
   





    