$card-width: 114px;
$card-height: 154px;
$transition-duration: 1s;


playing-card {
    display: inline-block;
    &.card-open {
        .flipper {
            
            transform: rotateY(0deg);
        }
    }
    .flipper {
        transition: transform 1s ease-in-out;
    }
    &:hover {
        /*transform:rotate(0deg) !important;*/
        .flipper {
            transform: rotateY(0deg);
        }
    }
    &.card-xs {
        .flipper {
            width: $card-width * 0.3;
            height: $card-height * 0.3;
            > .front, .back {
                width: $card-width * 0.3;
                height: $card-height * 0.3;
                > .inner {
                    transform: scale(0.3) !important;
                }
            }
        }
    }
    &.card-sm {
        .flipper {
            width: $card-width * 0.42;
            height: $card-height * 0.42;
            > .front, .back {
                width: $card-width * 0.42;
                height: $card-height * 0.42;
                > .inner {
                    transform: scale(0.42) !important;
                }
            }
        }
    }
    &.card-md {
        .flipper {
            width: $card-width * 0.56;
            height: $card-height * 0.56;
            > .front, .back {
                width: $card-width * 0.56;
                height: $card-height * 0.56;
                > .inner {
                    transform: scale(0.56) !important;
                }
            }
        }
    }
    &.card-lg {
        .flipper {
            width: $card-width * 0.75;
            height: $card-height * 0.75;
            > .front, .back {
                width: $card-width * 0.75;
                height: $card-height * 0.75;
                > .inner {
                    transform: scale(0.75) !important;
                }
            }
        }
    }
    &.card-xl {
        .flipper {
            width: $card-width;
            height: $card-height;
            > .front, > .back {
                width: $card-width;
                height: $card-height;
                > .inner {
                    transform: scale(1) !important;
                }
            }
        }
    }
    &.card-suit-s, &.card-suit-S {
        .front {
            > .inner {
                background-position-y: $card-height * 0;
            }
        }
    }
    &.card-suit-h, &.card-suit-H {
        .front {
            > .inner {
                background-position-y: $card-height * -1;
            }
        }
    }
    &.card-suit-c, &.card-suit-C {
        .front {
            > .inner {
                background-position-y: $card-height * -2;
            }
        }
    }
    &.card-suit-d, &.card-suit-D {
        .front {
            > .inner {
                background-position-y: $card-height * -3;
            }
        }
    }
    &.card-rank-2 {
        .front {
            > .inner {
                background-position-x: $card-width * 0;
            }
        }
    }
    &.card-rank-3 {
        .front {
            > .inner {
                background-position-x: $card-width * -1;
            }
        }
    }
    &.card-rank-4 {
        .front {
            > .inner {
                background-position-x: $card-width * -2;
            }
        }
    }
    &.card-rank-5 {
        .front {
            > .inner {
                background-position-x: $card-width * -3;
            }
        }
    }
    &.card-rank-6 {
        .front {
            > .inner {
                background-position-x: $card-width * -4;
            }
        }
    }
    &.card-rank-7 {
        .front {
            > .inner {
                background-position-x: $card-width * -5;
            }
        }
    }
    &.card-rank-8 {
        .front {
            > .inner {
                background-position-x: $card-width * -6;
            }
        }
    }
    &.card-rank-9 {
        .front {
            > .inner {
                background-position-x: $card-width * -7;
            }
        }
    }
    &.card-rank-10, &.card-rank-t, &.card-rank-T {
        .front {
            > .inner {
                background-position-x: $card-width * -8;
            }
        }
    }
    &.card-rank-j, &.card-rank-J {
        .front {
            > .inner {
                background-position-x: $card-width * -9;
            }
        }
    }
    &.card-rank-q, &.card-rank-Q {
        .front {
            > .inner {
                background-position-x: $card-width * -10;
            }
        }
    }
    &.card-rank-k, &.card-rank-K {
        .front {
            > .inner {
                background-position-x: $card-width * -11;
            }
        }
    }
    &.card-rank-a, &.card-rank-A {
        .front {
            > .inner {
                background-position-x: $card-width * -12;
            }
        }
    }
}

[playing-card-directive=''] {
    perspective: 200;
    display: inline-block;
    border: none !important;
    &.playing-card-highlight {
        .flipper {
            > .front, > .back {
                box-shadow: 0 0 6px 6px yellow;
            }
        }
    }
    .flipper {
        border: none !important;
        transition: $transition-duration;
        transform-style: preserve-3d;
        position: relative;
        position: relative;
        width: $card-width;
        height: $card-height;
        transform: rotateY(180deg);
        > .front, > .back {
            transition: $transition-duration;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: $card-width;
            height: $card-height;
            display: inline-block;
            transform-origin: 50% 50%;
            > .inner {
                transition: transform $transition-duration;
            }
        }
        > .front {
            // background-color: lightYellow;
            z-index: 2;
            transform: rotateY(0deg);
            .inner {
                padding: 10px;
                width: $card-width;
                height: $card-height;
                transform-origin: 0 0;
            }
        }
        > .back {
            // background-color: lightBlue;
            transform: rotateY(180deg);
            .inner {
                width: $card-width;
                height: $card-height;
                transform-origin: 0 0;
            }
        }
    }
    .front {
        > .inner {
            background-image: url(/assets/imgs/spr-playing-card.png);
            background-position: $card-width * -12 $card-height * -4;
        }
    }
    .back {
        > .inner {
            background-image: url(/assets/imgs/spr-playing-card.png);
            background-position: $card-width * -4 $card-height * -4;
        }
    }
    &.playing-card-cover-green {
        .back {
            > .inner {
                background-position: $card-width * -3 $card-height * -4;
            }
        }
    }
    &.playing-card-cover-orange {
        .back {
            > .inner {
                background-position: $card-width * -2 $card-height * -4;
            }
        }
    }
    &.playing-card-cover-red {
        .back {
            > .inner {
                background-position: $card-width * -1 $card-height * -4;
            }
        }
    }
    &.playing-card-cover-black {
        .back {
            > .inner {
                background-position: 0 $card-height * -4;
            }
        }
    }
    &.playing-card-cover-white {
        .back {
            > .inner {
                background-position: $card-width * -5 $card-height * -4;
            }
        }
    }
    &.playing-card-cover-grey {
        .back {
            > .inner {
                background-position: $card-width * -6 $card-height * -4;
            }
        }
    }
    &.playing-card-front-color-b, &.playing-front-color-B {
        .front {
            > .inner {
                background-position-y: $card-height * -6;
            }
        }
    }
    &.playing-card-front-color-w, &.playing-front-color-W {
        .front {
            > .inner {
                background-position-y: $card-height * -5;
            }
        }
    }
    &.playing-card-front-color-black, &.playing-front-color-BLACK {
        .front {
            > .inner {
                background-position-y: $card-height * -6;
            }
        }
    }
    &.playing-card-front-color-white, &.playing-front-color-WHITE {
        .front {
            > .inner {
                background-position-y: $card-height * -5;
            }
        }
    }
    &.playing-card-number-0 {
        .front {
            > .inner {
                background-position-x: $card-width * 0;
            }
        }
    }
    &.playing-card-number-1 {
        .front {
            > .inner {
                background-position-x: $card-width * -1;
            }
        }
    }
    &.playing-card-number-2 {
        .front {
            > .inner {
                background-position-x: $card-width * -2;
            }
        }
    }
    &.playing-card-number-3 {
        .front {
            > .inner {
                background-position-x: $card-width * -3;
            }
        }
    }
    &.playing-card-number-4 {
        .front {
            > .inner {
                background-position-x: $card-width * -4;
            }
        }
    }
    &.playing-card-number-5 {
        .front {
            > .inner {
                background-position-x: $card-width * -5;
            }
        }
    }
    &.playing-card-number-6 {
        .front {
            > .inner {
                background-position-x: $card-width * -6;
            }
        }
    }
    &.playing-card-number-7 {
        .front {
            > .inner {
                background-position-x: $card-width * -7;
            }
        }
    }
    &.playing-card-number-8 {
        .front {
            > .inner {
                background-position-x: $card-width * -8;
            }
        }
    }
    &.playing-card-number-9 {
        .front {
            > .inner {
                background-position-x: $card-width * -9;
            }
        }
    }
}