div(word-art-controller='')
  //- strong
    | {{ vm.width }} x {{ vm.height }}
  .preview-wrap(style='position:relative;width: {{ vm.width }}px;height: {{ vm.height }}px;border:3px solid silver')
    .handle(ng-if='vm.options.showGuide',
      ng-repeat='point in vm.points',
      ng-mousedown='vm.dragHandle(point, $event)',
      style='left: {{ point.x }}px;top: {{ point.y }}px')
    canvas
  pre {{ vm.points | json }}
  //- canvas
  span.sr-only(ng-transclude='')