[game-mighty-controller=''] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: auto 100%;
    background-position: 50% 0;
    padding-top: 50px;
    .container {
        padding-top: 20px;
     

     .others {
        .player   {
            transition:top 1.75s cubic-bezier(.5, 0, 0.25, 1.5)
            , left 1.75s cubic-bezier(.5, 0, 0.25, 1.5)
            , right 1.75s cubic-bezier(.5, 0, 0.25, 1.5)
            , bottom 1.75s cubic-bezier(.5, 0, 0.25, 1.5);
            &.ng-leave {
                transition-duration:.1s;
            }
        }
     }
        
    }


}